spring:
  application:
    name: LiveWatch

  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: ${REDIS_PORT:6379}
      timeout: 5000
      lettuce:
        pool:
          max-active: 100
          max-idle: 50
          min-idle: 10

app:
  server:
    max-users: 1000000
    warning-threshold: 800000
    enable-load-balancing: true

management:
  server:
    port: 8081
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    export:
      prometheus:
        enabled: true
